@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-thin.woff2), url(../fonts/montserrat/montserrat-thin.woff), url(../fonts/montserrat/montserrat-thin.ttf), url(../fonts/montserrat/montserrat-thin.eot);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-thinitalic.woff2), url(../fonts/montserrat/montserrat-thinitalic.woff), url(../fonts/montserrat/montserrat-thinitalic.ttf), url(../fonts/montserrat/montserrat-thinitalic.eot);
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-extralight.woff2), url(../fonts/montserrat/montserrat-extralight.woff), url(../fonts/montserrat/montserrat-extralight.ttf), url(../fonts/montserrat/montserrat-extralight.eot);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-extralightitalic.woff2), url(../fonts/montserrat/montserrat-extralightitalic.woff), url(../fonts/montserrat/montserrat-extralightitalic.ttf), url(../fonts/montserrat/montserrat-extralightitalic.eot);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-light.woff2), url(../fonts/montserrat/montserrat-light.woff), url(../fonts/montserrat/montserrat-light.ttf), url(../fonts/montserrat/montserrat-light.eot);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-lightitalic.woff2), url(../fonts/montserrat/montserrat-lightitalic.woff), url(../fonts/montserrat/montserrat-lightitalic.ttf), url(../fonts/montserrat/montserrat-lightitalic.eot);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-regular.woff2), url(../fonts/montserrat/montserrat-regular.woff), url(../fonts/montserrat/montserrat-regular.ttf), url(../fonts/montserrat/montserrat-regular.eot);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-italic.woff2), url(../fonts/montserrat/montserrat-italic.woff), url(../fonts/montserrat/montserrat-italic.ttf), url(../fonts/montserrat/montserrat-italic.eot);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-medium.woff2), url(../fonts/montserrat/montserrat-medium.woff), url(../fonts/montserrat/montserrat-medium.ttf), url(../fonts/montserrat/montserrat-medium.eot);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-mediumitalic.woff2), url(../fonts/montserrat/montserrat-mediumitalic.woff), url(../fonts/montserrat/montserrat-mediumitalic.ttf), url(../fonts/montserrat/montserrat-mediumitalic.eot);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-semibold.woff2), url(../fonts/montserrat/montserrat-semibold.woff), url(../fonts/montserrat/montserrat-semibold.ttf), url(../fonts/montserrat/montserrat-semibold.eot);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-semibolditalic.woff2), url(../fonts/montserrat/montserrat-semibolditalic.woff), url(../fonts/montserrat/montserrat-semibolditalic.ttf), url(../fonts/montserrat/montserrat-semibolditalic.eot);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-bold.woff2), url(../fonts/montserrat/montserrat-bold.woff), url(../fonts/montserrat/montserrat-bold.ttf), url(../fonts/montserrat/montserrat-bold.eot);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-bolditalic.woff2), url(../fonts/montserrat/montserrat-bolditalic.woff), url(../fonts/montserrat/montserrat-bolditalic.ttf), url(../fonts/montserrat/montserrat-bolditalic.eot);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-extrabold.woff2), url(../fonts/montserrat/montserrat-extrabold.woff), url(../fonts/montserrat/montserrat-extrabold.ttf), url(../fonts/montserrat/montserrat-extrabold.eot);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-extrabolditalic.woff2), url(../fonts/montserrat/montserrat-extrabolditalic.woff), url(../fonts/montserrat/montserrat-extrabolditalic.ttf), url(../fonts/montserrat/montserrat-extrabolditalic.eot);
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-black.woff2), url(../fonts/montserrat/montserrat-black.woff), url(../fonts/montserrat/montserrat-black.ttf), url(../fonts/montserrat/montserrat-black.eot);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-blackitalic.woff2), url(../fonts/montserrat/montserrat-blackitalic.woff), url(../fonts/montserrat/montserrat-blackitalic.ttf), url(../fonts/montserrat/montserrat-blackitalic.eot);
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-ExtraLightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-Black.ttf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}
body {
  margin: 0;
}
.container {
  width: 1920px;
  margin: 0 auto;
  font-family: montserrat, sans-serif;
}
.header {
  background-image: url(../img/header-background.jpg);
  background-color: #b0aeb9;
  color: #ffffff;
  background-size: cover;
  height: 1024px;
}
.header-content {
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.685);
  box-sizing: border-box;
  padding: 40px 150px 42px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.header-content-logo {
  font-family: roleway;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -1.36px;
  position: relative;
  padding: 8px 0 0 67px;
  margin: 0 0 0 226px;
}
.header-content-logo:before {
  content: '';
  display: block;
  width: 64px;
  height: 56px;
  background-image: url(../img/logos.png);
  position: absolute;
  top: 0;
  left: 0;
}
.header-content-menu {
  display: flex;
  width: 400px;
  flex-direction: row;
  margin: 18px 0 0 219px;
  font-size: 14px;
  font-weight: 300;
}
.header-content-menu-item {
  text-decoration: none;
  color: #ffffff;
}
.header-content-main-subtitle {
  font-size: 36px;
  font-weight: 500;
}
.header-content-main-title {
  font-size: 52px;
  font-weight: 400;
}
.header-content-main-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.header-content-main-btn {
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
}
