@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-thin.woff2), url(../fonts/montserrat/montserrat-thin.woff), url(../fonts/montserrat/montserrat-thin.ttf), url(../fonts/montserrat/montserrat-thin.eot);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-thinitalic.woff2), url(../fonts/montserrat/montserrat-thinitalic.woff), url(../fonts/montserrat/montserrat-thinitalic.ttf), url(../fonts/montserrat/montserrat-thinitalic.eot);
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-extralight.woff2), url(../fonts/montserrat/montserrat-extralight.woff), url(../fonts/montserrat/montserrat-extralight.ttf), url(../fonts/montserrat/montserrat-extralight.eot);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-extralightitalic.woff2), url(../fonts/montserrat/montserrat-extralightitalic.woff), url(../fonts/montserrat/montserrat-extralightitalic.ttf), url(../fonts/montserrat/montserrat-extralightitalic.eot);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-light.woff2), url(../fonts/montserrat/montserrat-light.woff), url(../fonts/montserrat/montserrat-light.ttf), url(../fonts/montserrat/montserrat-light.eot);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-lightitalic.woff2), url(../fonts/montserrat/montserrat-lightitalic.woff), url(../fonts/montserrat/montserrat-lightitalic.ttf), url(../fonts/montserrat/montserrat-lightitalic.eot);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-regular.woff2), url(../fonts/montserrat/montserrat-regular.woff), url(../fonts/montserrat/montserrat-regular.ttf), url(../fonts/montserrat/montserrat-regular.eot);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-italic.woff2), url(../fonts/montserrat/montserrat-italic.woff), url(../fonts/montserrat/montserrat-italic.ttf), url(../fonts/montserrat/montserrat-italic.eot);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-medium.woff2), url(../fonts/montserrat/montserrat-medium.woff), url(../fonts/montserrat/montserrat-medium.ttf), url(../fonts/montserrat/montserrat-medium.eot);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-mediumitalic.woff2), url(../fonts/montserrat/montserrat-mediumitalic.woff), url(../fonts/montserrat/montserrat-mediumitalic.ttf), url(../fonts/montserrat/montserrat-mediumitalic.eot);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-semibold.woff2), url(../fonts/montserrat/montserrat-semibold.woff), url(../fonts/montserrat/montserrat-semibold.ttf), url(../fonts/montserrat/montserrat-semibold.eot);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-semibolditalic.woff2), url(../fonts/montserrat/montserrat-semibolditalic.woff), url(../fonts/montserrat/montserrat-semibolditalic.ttf), url(../fonts/montserrat/montserrat-semibolditalic.eot);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-bold.woff2), url(../fonts/montserrat/montserrat-bold.woff), url(../fonts/montserrat/montserrat-bold.ttf), url(../fonts/montserrat/montserrat-bold.eot);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-bolditalic.woff2), url(../fonts/montserrat/montserrat-bolditalic.woff), url(../fonts/montserrat/montserrat-bolditalic.ttf), url(../fonts/montserrat/montserrat-bolditalic.eot);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-extrabold.woff2), url(../fonts/montserrat/montserrat-extrabold.woff), url(../fonts/montserrat/montserrat-extrabold.ttf), url(../fonts/montserrat/montserrat-extrabold.eot);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-extrabolditalic.woff2), url(../fonts/montserrat/montserrat-extrabolditalic.woff), url(../fonts/montserrat/montserrat-extrabolditalic.ttf), url(../fonts/montserrat/montserrat-extrabolditalic.eot);
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-black.woff2), url(../fonts/montserrat/montserrat-black.woff), url(../fonts/montserrat/montserrat-black.ttf), url(../fonts/montserrat/montserrat-black.eot);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/montserrat-blackitalic.woff2), url(../fonts/montserrat/montserrat-blackitalic.woff), url(../fonts/montserrat/montserrat-blackitalic.ttf), url(../fonts/montserrat/montserrat-blackitalic.eot);
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: raleway;
  src: local("raleway"), url(../fonts/raleway/raleway-thin.woff2), url(../fonts/raleway/raleway-thin.woff), url(../fonts/raleway/raleway-thin.ttf), url(../fonts/raleway/raleway-thin.eot);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: local("raleway"), url(../fonts/raleway/raleway-thinitalic.woff2), url(../fonts/raleway/raleway-thinitalic.woff), url(../fonts/raleway/raleway-thinitalic.ttf), url(../fonts/raleway/raleway-thinitalic.eot);
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: raleway;
  src: local("raleway"), url(../fonts/raleway/raleway-extralight.woff2), url(../fonts/raleway/raleway-extralight.woff), url(../fonts/raleway/raleway-extralight.ttf), url(../fonts/raleway/raleway-extralight.eot);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: local("raleway"), url(../fonts/raleway/raleway-extralightitalic.woff2), url(../fonts/raleway/raleway-extralightitalic.woff), url(../fonts/raleway/raleway-extralightitalic.ttf), url(../fonts/raleway/raleway-extralightitalic.eot);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: raleway;
  src: local("raleway"), url(../fonts/raleway/raleway-light.woff2), url(../fonts/raleway/raleway-light.woff), url(../fonts/raleway/raleway-light.ttf), url(../fonts/raleway/raleway-light.eot);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: local("raleway"), url(../fonts/raleway/raleway-lightitalic.woff2), url(../fonts/raleway/raleway-lightitalic.woff), url(../fonts/raleway/raleway-lightitalic.ttf), url(../fonts/raleway/raleway-lightitalic.eot);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: raleway;
  src: local("raleway"), url(../fonts/raleway/raleway-regular.woff2), url(../fonts/raleway/raleway-regular.woff), url(../fonts/raleway/raleway-regular.ttf), url(../fonts/raleway/raleway-regular.eot);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: local("raleway"), url(../fonts/raleway/raleway-italic.woff2), url(../fonts/raleway/raleway-italic.woff), url(../fonts/raleway/raleway-italic.ttf), url(../fonts/raleway/raleway-italic.eot);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: raleway;
  src: local("raleway"), url(../fonts/raleway/raleway-medium.woff2), url(../fonts/raleway/raleway-medium.woff), url(../fonts/raleway/raleway-medium.ttf), url(../fonts/raleway/raleway-medium.eot);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: local("raleway"), url(../fonts/raleway/raleway-mediumitalic.woff2), url(../fonts/raleway/raleway-mediumitalic.woff), url(../fonts/raleway/raleway-mediumitalic.ttf), url(../fonts/raleway/raleway-mediumitalic.eot);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: raleway;
  src: local("raleway"), url(../fonts/raleway/raleway-semibold.woff2), url(../fonts/raleway/raleway-semibold.woff), url(../fonts/raleway/raleway-semibold.ttf), url(../fonts/raleway/raleway-semibold.eot);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: local("raleway"), url(../fonts/raleway/raleway-semibolditalic.woff2), url(../fonts/raleway/raleway-semibolditalic.woff), url(../fonts/raleway/raleway-semibolditalic.ttf), url(../fonts/raleway/raleway-semibolditalic.eot);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: raleway;
  src: local("raleway"), url(../fonts/raleway/raleway-bold.woff2), url(../fonts/raleway/raleway-bold.woff), url(../fonts/raleway/raleway-bold.ttf), url(../fonts/raleway/raleway-bold.eot);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: local("raleway"), url(../fonts/raleway/raleway-bolditalic.woff2), url(../fonts/raleway/raleway-bolditalic.woff), url(../fonts/raleway/raleway-bolditalic.ttf), url(../fonts/raleway/raleway-bolditalic.eot);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: raleway;
  src: local("raleway"), url(../fonts/raleway/raleway-extrabold.woff2), url(../fonts/raleway/raleway-extrabold.woff), url(../fonts/raleway/raleway-extrabold.ttf), url(../fonts/raleway/raleway-extrabold.eot);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: local("raleway"), url(../fonts/raleway/raleway-extrabolditalic.woff2), url(../fonts/raleway/raleway-extrabolditalic.woff), url(../fonts/raleway/raleway-extrabolditalic.ttf), url(../fonts/raleway/raleway-extrabolditalic.eot);
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: raleway;
  src: local("raleway"), url(../fonts/raleway/raleway-black.woff2), url(../fonts/raleway/raleway-black.woff), url(../fonts/raleway/raleway-black.ttf), url(../fonts/raleway/raleway-black.eot);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: local("raleway"), url(../fonts/raleway/raleway-blackitalic.woff2), url(../fonts/raleway/raleway-blackitalic.woff), url(../fonts/raleway/raleway-blackitalic.ttf), url(../fonts/raleway/raleway-blackitalic.eot);
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: roboto;
  src: local("roboto"), url(../fonts/roboto/roboto-thin.woff2), url(../fonts/roboto/roboto-thin.woff), url(../fonts/roboto/roboto-thin.ttf), url(../fonts/roboto/roboto-thin.eot);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: roboto;
  src: local("roboto"), url(../fonts/roboto/roboto-thinitalic.woff2), url(../fonts/roboto/roboto-thinitalic.woff), url(../fonts/roboto/roboto-thinitalic.ttf), url(../fonts/roboto/roboto-thinitalic.eot);
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: roboto;
  src: local("roboto"), url(../fonts/roboto/roboto-extralight.woff2), url(../fonts/roboto/roboto-extralight.woff), url(../fonts/roboto/roboto-extralight.ttf), url(../fonts/roboto/roboto-extralight.eot);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: roboto;
  src: local("roboto"), url(../fonts/roboto/roboto-extralightitalic.woff2), url(../fonts/roboto/roboto-extralightitalic.woff), url(../fonts/roboto/roboto-extralightitalic.ttf), url(../fonts/roboto/roboto-extralightitalic.eot);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: roboto;
  src: local("roboto"), url(../fonts/roboto/roboto-light.woff2), url(../fonts/roboto/roboto-light.woff), url(../fonts/roboto/roboto-light.ttf), url(../fonts/roboto/roboto-light.eot);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: roboto;
  src: local("roboto"), url(../fonts/roboto/roboto-lightitalic.woff2), url(../fonts/roboto/roboto-lightitalic.woff), url(../fonts/roboto/roboto-lightitalic.ttf), url(../fonts/roboto/roboto-lightitalic.eot);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: roboto;
  src: local("roboto"), url(../fonts/roboto/roboto-regular.woff2), url(../fonts/roboto/roboto-regular.woff), url(../fonts/roboto/roboto-regular.ttf), url(../fonts/roboto/roboto-regular.eot);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: roboto;
  src: local("roboto"), url(../fonts/roboto/roboto-italic.woff2), url(../fonts/roboto/roboto-italic.woff), url(../fonts/roboto/roboto-italic.ttf), url(../fonts/roboto/roboto-italic.eot);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: roboto;
  src: local("roboto"), url(../fonts/roboto/roboto-medium.woff2), url(../fonts/roboto/roboto-medium.woff), url(../fonts/roboto/roboto-medium.ttf), url(../fonts/roboto/roboto-medium.eot);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: roboto;
  src: local("roboto"), url(../fonts/roboto/roboto-mediumitalic.woff2), url(../fonts/roboto/roboto-mediumitalic.woff), url(../fonts/roboto/roboto-mediumitalic.ttf), url(../fonts/roboto/roboto-mediumitalic.eot);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: roboto;
  src: local("roboto"), url(../fonts/roboto/roboto-semibold.woff2), url(../fonts/roboto/roboto-semibold.woff), url(../fonts/roboto/roboto-semibold.ttf), url(../fonts/roboto/roboto-semibold.eot);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: roboto;
  src: local("roboto"), url(../fonts/roboto/roboto-semibolditalic.woff2), url(../fonts/roboto/roboto-semibolditalic.woff), url(../fonts/roboto/roboto-semibolditalic.ttf), url(../fonts/roboto/roboto-semibolditalic.eot);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: roboto;
  src: local("roboto"), url(../fonts/roboto/roboto-bold.woff2), url(../fonts/roboto/roboto-bold.woff), url(../fonts/roboto/roboto-bold.ttf), url(../fonts/roboto/roboto-bold.eot);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: roboto;
  src: local("roboto"), url(../fonts/roboto/roboto-bolditalic.woff2), url(../fonts/roboto/roboto-bolditalic.woff), url(../fonts/roboto/roboto-bolditalic.ttf), url(../fonts/roboto/roboto-bolditalic.eot);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: roboto;
  src: local("roboto"), url(../fonts/roboto/roboto-extrabold.woff2), url(../fonts/roboto/roboto-extrabold.woff), url(../fonts/roboto/roboto-extrabold.ttf), url(../fonts/roboto/roboto-extrabold.eot);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: roboto;
  src: local("roboto"), url(../fonts/roboto/roboto-extrabolditalic.woff2), url(../fonts/roboto/roboto-extrabolditalic.woff), url(../fonts/roboto/roboto-extrabolditalic.ttf), url(../fonts/roboto/roboto-extrabolditalic.eot);
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: roboto;
  src: local("roboto"), url(../fonts/roboto/roboto-black.woff2), url(../fonts/roboto/roboto-black.woff), url(../fonts/roboto/roboto-black.ttf), url(../fonts/roboto/roboto-black.eot);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: roboto;
  src: local("roboto"), url(../fonts/roboto/roboto-blackitalic.woff2), url(../fonts/roboto/roboto-blackitalic.woff), url(../fonts/roboto/roboto-blackitalic.ttf), url(../fonts/roboto/roboto-blackitalic.eot);
  font-weight: 900;
  font-style: italic;
}
body {
  margin: 0;
}
.container {
  width: 1920px;
  margin: 0 auto;
  font-family: montserrat, sans-serif;
}
.header {
  background-image: url(../img/header-background.jpg);
  background-color: #b0aeb9;
  color: #ffffff;
  background-size: cover;
  height: 1024px;
}
.header-content {
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.685);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 150px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header-content-logo {
  font-family: raleway;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -1.36px;
  position: relative;
  padding: 8px 0 0 67px;
  margin: 0 0 0 226px;
}
.header-content-logo:before {
  content: '';
  display: block;
  width: 64px;
  height: 56px;
  background-image: url(../img/logos.png);
  position: absolute;
  top: 0;
  left: 0;
}
.header-content-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 18px 0 0 219px;
  font-size: 14px;
  font-weight: 300;
  height: 20px;
}
.header-content-menu-item {
  text-decoration: none;
  color: #ffffff;
  margin: 3px 28px 0 0;
}
.header-content-menu-item:hover {
  color: #c7b299;
}
.header-content-menu-item:active {
  color: #ffffff;
  cursor: wait;
}
.header-content-cart {
  background-image: url(../img/icon-cart.png);
  width: 18px;
  height: 24px;
  margin: 15px 0 0 35px;
}
.header-content-form {
  width: 10%;
}
.header-content-form-search {
  background-image: url(../img/icon-search.png);
  width: 24px;
  height: 24px;
  margin: 15px 0 0 28px;
}
.header-content-btn-left {
  /*fill: %23fff*/
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="40" height="73" viewBox="0 0 40 73"><g><g opacity=".5"><path d="M38.026 72.98L.005 36.497 38.026.018l1.969 2.004L4.066 36.498l35.929 34.479z"/><path fill="%23FFF" d="M38.026 72.98L.005 36.497 38.026.018l1.969 2.004L4.066 36.498l35.929 34.479z"/></g></g></svg>');
  width: 10%;
  background-repeat: no-repeat;
  background-position: left;
}
.header-content-btn-left:hover {
  /*fill: %23d3c1ad*/
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="40" height="73" viewBox="0 0 40 73"><g><g opacity=".5"><path d="M38.026 72.98L.005 36.497 38.026.018l1.969 2.004L4.066 36.498l35.929 34.479z"/><path fill="%23d3c1ad" d="M38.026 72.98L.005 36.497 38.026.018l1.969 2.004L4.066 36.498l35.929 34.479z"/></g></g></svg>');
  cursor: pointer;
}
.header-content-btn-left:active {
  /*fill: %23fff*/
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="40" height="73" viewBox="0 0 40 73"><g><g opacity=".5"><path d="M38.026 72.98L.005 36.497 38.026.018l1.969 2.004L4.066 36.498l35.929 34.479z"/><path fill="%23FFF" d="M38.026 72.98L.005 36.497 38.026.018l1.969 2.004L4.066 36.498l35.929 34.479z"/></g></g></svg>');
}
.header-content-main {
  width: 80%;
  padding: 0px 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-item-align: center;
      align-self: center;
}
.header-content-main-subtitle {
  font-size: 36px;
  font-weight: 500;
  margin: 0px 0 4px 0;
  font-family: raleway;
  text-align: center;
}
.header-content-main-title {
  font-size: 52px;
  font-weight: 800;
  margin: 0 0 15px 0;
  font-family: raleway;
  letter-spacing: 0.4px;
  word-spacing: 1.8px;
  text-align: center;
}
.header-content-main-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 0 48px 0;
  text-align: center;
}
.header-content-main-btn {
  font-size: 14px;
  font-weight: 700;
  line-height: 23px;
  text-transform: uppercase;
  font-family: raleway;
  background-color: #998675;
  margin: 0;
  width: 170px;
  height: 53px;
  margin: 0 auto 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  cursor: pointer;
}
.header-content-main-btn:hover {
  background-color: #ccb9a8;
  color: #000;
}
.header-content-main-btn:active {
  background-color: #998675;
  color: #ffffff;
  cursor: wait;
}
.header-content-btn-right {
  /*fill: %23fff*/
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="40" height="73" viewBox="0 0 40 73"><g><g><path d="M1.974 72.98l38.021-36.482L1.974.018.004 2.022l35.93 34.476L.004 70.977z"/><path fill="%23fff" d="M1.974 72.98l38.021-36.482L1.974.018.004 2.022l35.93 34.476L.004 70.977z"/></g></g></svg>');
  width: 10%;
  background-repeat: no-repeat;
  background-position: right;
}
.header-content-btn-right:hover {
  /*fill: %23d3c1ad*/
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="40" height="73" viewBox="0 0 40 73"><g><g><path d="M1.974 72.98l38.021-36.482L1.974.018.004 2.022l35.93 34.476L.004 70.977z"/><path fill="%23d3c1ad" d="M1.974 72.98l38.021-36.482L1.974.018.004 2.022l35.93 34.476L.004 70.977z"/></g></g></svg>');
  cursor: pointer;
}
.header-content-btn-right:active {
  /*fill: %23fff*/
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="40" height="73" viewBox="0 0 40 73"><g><g><path d="M1.974 72.98l38.021-36.482L1.974.018.004 2.022l35.93 34.476L.004 70.977z"/><path fill="%23fff" d="M1.974 72.98l38.021-36.482L1.974.018.004 2.022l35.93 34.476L.004 70.977z"/></g></g></svg>');
}
.header-content-pagination {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 30px 0 0 0;
}
.header-content-pagination-link {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  opacity: 0.5;
  border-radius: 50%;
  margin: 0 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header-content-pagination-link:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  border: 2px solid #c7b299;
  background-color: transparent;
  opacity: 1;
}
.header-content-pagination-link:active {
  -webkit-transform: none;
          transform: none;
  border: none;
  background-color: #ffffff;
  opacity: 0.5;
}
