.footer {
  background-color: @back-light-color;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px 0 0 0;
  justify-content: center;
  &-title {
    width: 100%;
    text-align: center;
    color: @text-light-color;
    margin: 0 0 5px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin: 0 0 12px;
  }
  &-form {
    @width: 100%;
    @padding: 10px;
    @border-radius: 5px;
    @margin: 0 0 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    margin: 0;
    color: @text-dark-color;
    &-name {
      width: @width;
      box-sizing: border-box;
      padding: @padding;
      border-radius: @border-radius;
      margin: @margin;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      height: 40px;
      outline: none;
      border: 1px solid @text-light-color;
      &:hover {
        border: 1px solid black;
      }
      &:focus {
        background-color: lightyellow;;
      }
    }
    &-mail {
      width: @width;
      box-sizing: border-box;
      padding: @padding;
      border-radius: @border-radius;
      margin: @margin;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      height: 40px;
      outline: none;
      border: 1px solid @text-light-color;
      &:hover {
        border: 1px solid black;
      }
      &:focus {
        background-color: lightyellow;;
      }
    }
    &-textarea {
      width: @width;
      box-sizing: border-box;
      padding: @padding;
      padding-top: 5px;
      border-radius: @border-radius;
      margin: @margin;
      resize: none;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      height: 170px;
      outline: none;
      border: 1px solid @text-light-color;
      &:hover {
        border: 1px solid black;
      }
      &:focus {
        background-color: lightyellow;;
      }
    }
    &-btn {
      color: @text-dark-color;
      border-radius: @border-radius;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      width: 140px;
      height: 40px;
      outline: none;
      border: 1px solid @text-light-color;
      background-color: @text-light-color;
      &:hover {
        color: @text-light-color;
        background-color: @text-dark-color;
      }
      &:active {
        color: @text-dark-color;
        background-color: @text-light-color;
      }
    }
  }
  &-contacts {
    width: 248px;
    box-sizing: border-box;
    padding: 0;
    margin: 3px 0 0 33px;
    &-list {
      display: flex;
      flex-direction: column;
      &-item {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin: 0 0 11px;
        &-icon {
          margin: 6px 0 0;
          font-size: 24px;
          line-height: 30px;
        }
        &:hover {
          color: black;
        }
        &:active {
          color: @text-light-color;
        }
      }
    }
    &-link {
      display: flex;
      flex-direction: row;
      width: 240px;
      height: 40px;
      justify-content: space-between;
      margin: 20px 0 0;
      &-item {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-image: url('../img/social_buttons.png');
        &:nth-child(1) {
          background-position: -2px;
        }
        &:nth-child(2) {
          background-position: -51px;
        }
        &:nth-child(3) {
          background-position: -100px;
        }
        &:nth-child(4) {
          background-position: -149px;
        }
        &:nth-child(5) {
          background-position: -199px;
        }
        &:hover {
          background-color: black;
        }
        &:active {
          background-color: @back-light-color;
        }
      }
    }
  }
  &-copyright-holders {
    background-color: @back-light-gray-color;
    color: @text-dark-color;
    width: 100%;
    margin: 24px 0 0;
    text-align: center;
    padding: 5px;
    color: @text-dark-color;
    font-size: 12px;
    line-height: 18px;
    margin: 40px 0 0;
  }
}
