.header {
  padding: 38px 46px;
  background-color: @back-light-color;
  color: @text-light-color;
  &:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
  }
  &-title {
    margin: 0;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 28px;
  }
  &-list {
    margin: 0;
    padding-left: 40px;
    float: left;
    &-item {
      list-style: none;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
      font-size: 20px;
      font-weight: 400;
      line-height: 36px;
      position: relative;
      &:before {
        position: absolute;
        content: "";
        display: block;
        width: 25px;
        height: 19px;
        background-image: url(../img/check_icon.png);
        left: -35px;
        top: 7px;
      }
    }
  }
  &-img {
    display: block;
    width: 469px;
    height: 214px;
    background-color: @text-light-color;
    float: right;
    margin-top: -84px;
    margin-right: 3px;
  }
}
