.header {
  background-image: url(../img/header-background.jpg);
  background-color: #b0aeb9;
  color: @color-light;
  background-size: cover;
  height: 1024px;
  &-content {
    width: 100%;
    height: 100%;
    background-color: rgba(15, 15, 15, 0.685);
    box-sizing: border-box;
    padding: 40px 150px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &-logo {
      font-family: raleway, sans-serif;
      font-size: 34px;
      font-weight: 400;
      letter-spacing: -1.36px;
      position: relative;
      padding: 8px 0 0 67px;
      margin: 0 0 0 226px;
      &:before {
        content: '';
        display: block;
        width: 64px;
        height: 56px;
        background-image: url(../img/logos.png);
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    &-menu {
      display: flex;
      flex-direction: row;
      margin: 18px 0 0 219px;
      font-size: 14px;
      font-weight: 300;
      height: 20px;
      &-item {
        text-decoration: none;
        color: @color-light;
        margin: 3px 28px 0 0;
        &:hover {
          color: @color-ginger;
        }
        &:active {
          color: @color-light;
          cursor: wait;
        }
      }
    }
    &-cart {
      margin: 15px 0 0 35px;
      fill: @color-light;
      &:hover {
        cursor: pointer;
        fill: @color-ginger;
      }
      &:active {
        cursor: progress;
        fill: @color-ginger;
      }
    }
    &-form {
      width: 10%;
      margin: 15px 0 0 28px;
      position: relative;
      &-search {
        fill: @color-light;
        &:hover {
          cursor: pointer;
          fill: @color-ginger;
        }
        &:active {
          // cursor: progress;
          fill: @color-ginger;
        }
        &:focus {
          cursor: cursor;
        }
      }
      &-input {
        width: 0;
        min-height: 0;
        padding: 5px;
        outline: none;
        box-sizing: border-box;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 40px;
        left: -119px;
        color: @color-light;
        font-size: 16px;
        font-family: Arial, sans-serif;
        &:focus {
          width: 150px;
          min-height: 20px;
          transition: width 1s ease;
          border: 2px solid @color-light;
        }
      }
    }
    &-btn-left {
      /*fill: %23fff*/
      background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="40" height="73" viewBox="0 0 40 73"><g><g opacity=".5"><path d="M38.026 72.98L.005 36.497 38.026.018l1.969 2.004L4.066 36.498l35.929 34.479z"/><path fill="%23FFF" d="M38.026 72.98L.005 36.497 38.026.018l1.969 2.004L4.066 36.498l35.929 34.479z"/></g></g></svg>');
      width: 10%;
      background-repeat: no-repeat;
      background-position: left;
      &:hover {
        /*fill: %23d3c1ad*/
        background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="40" height="73" viewBox="0 0 40 73"><g><g opacity=".5"><path d="M38.026 72.98L.005 36.497 38.026.018l1.969 2.004L4.066 36.498l35.929 34.479z"/><path fill="%23d3c1ad" d="M38.026 72.98L.005 36.497 38.026.018l1.969 2.004L4.066 36.498l35.929 34.479z"/></g></g></svg>');
        cursor: pointer;
      }
      &:active {
        /*fill: %23fff*/
        background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="40" height="73" viewBox="0 0 40 73"><g><g opacity=".5"><path d="M38.026 72.98L.005 36.497 38.026.018l1.969 2.004L4.066 36.498l35.929 34.479z"/><path fill="%23FFF" d="M38.026 72.98L.005 36.497 38.026.018l1.969 2.004L4.066 36.498l35.929 34.479z"/></g></g></svg>');
      }
    }
    &-main {
      width: 80%;
      padding: 0px 20%;
      box-sizing: border-box;
      align-self: center;
      &-subtitle {
        font-size: 36px;
        font-weight: 500;
        margin: 0px 0 4px 0;
        font-family: raleway, sans-serif;
        text-align: center;
      }
      &-title {
        font-size: 52px;
        font-weight: 800;
        margin: 0 0 15px 0;
        font-family: raleway, sans-serif;
        letter-spacing: 0.4px;
        word-spacing: 1.8px;
        text-align: center;
      }
      &-text {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        margin: 0 0 48px 0;
        text-align: center;
      }
      &-btn {
        .mixin-btn-style();
      }
    }
    &-btn-right {
      /*fill: %23fff*/
      background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="40" height="73" viewBox="0 0 40 73"><g><g opacity=".5"><path d="M1.974 72.98l38.021-36.482L1.974.018.004 2.022l35.93 34.476L.004 70.977z"/><path fill="%23FFF" d="M1.974 72.98l38.021-36.482L1.974.018.004 2.022l35.93 34.476L.004 70.977z"/></g></g></svg>');
      width: 10%;
      background-repeat: no-repeat;
      background-position: right;
      &:hover {
        /*fill: %23d3c1ad*/
        background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="40" height="73" viewBox="0 0 40 73"><g><g><path d="M1.974 72.98l38.021-36.482L1.974.018.004 2.022l35.93 34.476L.004 70.977z"/><path fill="%23d3c1ad" d="M1.974 72.98l38.021-36.482L1.974.018.004 2.022l35.93 34.476L.004 70.977z"/></g></g></svg>');
        cursor: pointer;
      }
      &:active {
        /*fill: %23fff*/
        background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="40" height="73" viewBox="0 0 40 73"><g><g><path d="M1.974 72.98l38.021-36.482L1.974.018.004 2.022l35.93 34.476L.004 70.977z"/><path fill="%23fff" d="M1.974 72.98l38.021-36.482L1.974.018.004 2.022l35.93 34.476L.004 70.977z"/></g></g></svg>');
      }
    }
    &-pagination {
        .mixin-pagination-link-style();
    }
  }
}
