.main {
  &-services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*style*/
    &-design,
    &-development,
    &-customization,
    &-marketing {
      &-icon {
        fill: @color-gray;
      }
      &:hover &-icon {
        fill: @color-ginger;
      }
      &:active &-icon {
        fill: @color-gray;
      }
      &-title {
        color: @color-gray;
        font-size: 22px;
        font-weight: 600;
        font-family: Raleway, sans-serif;
      }
      &:hover &-title {
        color: @color-ginger;
      }
      &:active &-title {
        color: @color-gray;
      }
      &-txt {
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: @color-gray-light;
      }
      &:after {
        content: "";
        display: block;
        width: 70px;
        height: 3px;
        background-color: #f1eee9;
      }
      &:hover:after {
        background-color: @color-ginger;
      }
      &:active:after {
        background-color: #f1eee9;
      }
      &:hover {
        cursor: pointer;
      }
      &:active {
        cursor: wait;
      }
    }
    /*position*/
    &-design,
    &-development,
    &-customization,
    &-marketing {
      width: 270px;
      margin: 80px 15px;
      &-icon {
        display: block;
        margin: 0px auto 24px;
      }
      &-title,
      &-txt {
        text-align: center;
      }
      &-title {
        letter-spacing: 0;
        margin: 0 0 14px;
      }
      &-txt {
        letter-spacing: 0;
        margin: 0 0 25px;
      }
      &:after {
        margin: 0 auto;
      }
    }
  }
  &-screenshots {
    /*style*/
    background-color: @color-back;
    &-title {
      font-family: Raleway, sans-serif;
      font-size: 30px;
      line-height: 1.2;
      font-weight: 600;
      color: @color-gray;
    }
    &-text {
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      line-height: 28px;
      font-weight: 300;
      color: @color-gray-light;
    }
    &-backimg {
      background-image: url(../img/browser-center.jpg),
                        url(../img/browser-left.jpg),
                        url(../img/browser-right.jpg);
    }
    /*position*/
    text-align: center;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &-title {
      margin: 0 0 16px;
    }
    &-text {
      max-width: 800px;
      margin: 0 auto 25px;
    }
    &-backimg {
      height: 70%;
      background-repeat: no-repeat;
      background-size: 62%, 62%, 62%;
      background-position: bottom center, bottom left, bottom right;
      margin: 0 18%;
    }
  }
  &-textbox {
    /*style*/
    background-color: @color-textbox-back;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    &-leftcontainer {
      &-title {
        font-family: Raleway, sans-serif;
        font-size: 28px;
        line-height: 1.2;
        font-weight: 400;
        &-firstword {
          color: @color-ginger;
        }
        color: @color-light;
      }
      &-text {
        font-family: Montserrat, sans-serif;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 300;
        color: @color-ginger-dark;
      }
    }
    &-rightcontainer {
      &-btn {
        .mixin-btn-style();
      }
    }
    /*position*/
    &-wrapper {
      min-height: 150px;
      padding: 10px 375px;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    &-leftcontainer {
      max-width: 80%;
      &-title {
        margin: 0px 0px 7px 2px;
        letter-spacing: 0.01em;
      }
    }
    &-rightcontainer {
      margin: 15px 0 0 0;
    }
  }
  &-projects {
    /*style*/
    &-title {
      font-family: Raleway, sans-serif;
      font-size: 30px;
      line-height: 1.2;
      font-weight: 600;
      color: @color-gray;
    }
    &-text {
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      line-height: 28px;
      font-weight: 300;
      color: @color-gray-light;
    }
    &-menu {
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      line-height: 21px;
      font-weight: 300;
      color: @color-gray-light;
      &-btn {
        height: 32px;
        border: 1px solid @color-border;
        border-radius: 3px;
        &.checked {
          color: @color-light;
          background-color: @color-btn-back-ginger;
          &:active {
            color: @color-light;
          }
        }
        &:hover {
          cursor: pointer;
          color: @color-dark;
        }
        &:active {
          cursor: progress;
          color: @color-gray-light;
        }
      }
    }
    &-container {
      &-item {
        width: 370px;
        height: 337px;
        &-img {
          height: 237px;
        }
        &-wrapper {
          height: 100px;
          background-color: @color-back;
          &:before {
            content: "";
            display: block;
            border: 15px solid transparent;
            border-bottom: 10px solid @color-back;
          }
          &-title {
            font-family: Raleway, sans-serif;
            font-size: 20px;
            line-height: 1.2;
            font-weight: 500;
            color: @color-ginger;
          }
          &-text {
            font-family: Montserrat, sans-serif;
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
            color: @color-gray-prject;
          }
        }
        &-link,
        &-search {
          visibility: hidden;
          fill: @color-light;
          &:hover {
            fill: @color-ginger;
            cursor: cursor;
          }
          &:active {
            fill: @color-light;
            cursor: progress;
          }
        }
        &:hover & {
          &-img {
            filter: brightness(30%);
          }
          &-wrapper {
            background-color: @color-ginger-project;
            &:before {
              border-bottom: 10px solid @color-ginger-project;
            }
            &-title {
              color: @color-light;
            }
            &-text {
              color: @color-ginger;
            }
          }
          &-link,
          &-search {
            visibility: visible;
          }
        }
      }
    }
    &-btn {
      .mixin-btn-style();
    }
    /*position*/
    & {
      .mixin-padding-default(-4px);
    }
    &-title {
      text-align: center;
      margin: 0 0 16px 0;
    }
    &-text {
      text-align: center;
      margin: 0 auto 32px;
      width: 800px;
    }
    &-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      &-btn {
        margin: 0 5px;
        padding: 5px 20px;
        box-sizing: border-box;
        &.checked {
          height: 34px;
          padding: 6px 26px;
        }
      }
    }
    &-container {
      & {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 38px 0 0 0;
        justify-content: space-between;
      }
      &-item {
        & {
          margin: 0 0 30px 0;
          position: relative;
        }
        &-img {
          display: block;
        }
        &-wrapper {
          position: relative;
          padding: 29px 30px;
          box-sizing: border-box;
          &:before {
            position: absolute;
            left: 19px;
            top: -25px;
          }
          &-title {
            margin: 0 0 3px 0;
          }
        }
        &-link {
          position: absolute;
          left: 145px;
          top: 107px;
        }
        &-search {
          position: absolute;
          left: 199px;
          top: 107px;
        }
      }
    }
    &-btn {
      margin: 8px auto -1px;
    }
  }
  &-presentation {
    /*style*/
    &-video {
      filter: brightness(0.58);
    }
    &-wrapper {
      &-btn {
        width: 100px;
        height: 100px;
        background-color: rgba(0, 0, 0, .2);
        border: none;
        border-radius: 50%;
        outline: none;
        &-svg {
          fill: @color-light;
          margin: auto;
        }
        &:hover &-svg {
          fill: @color-ginger;
          cursor: pointer;
        }
        &:active &-svg {
          fill: @color-light;
          cursor: progress;
        }
      }
      &-title {
        font-family: Raleway, sans-serif;
        font-size: 30px;
        line-height: 1.2;
        font-weight: 500;
        color: @color-light;
      }
      &-text {
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: @color-light;
      }
      &-time {
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: @color-ginger;
      }
    }
    /*position*/
    &-video {
      display: block;
    }
    position: relative;
    &-wrapper {
      text-align: center;
      position: absolute;
      left: 34%;
      right: 34%;
      top: 30%;
      &-btn {
        margin: -2px 0 36px 0;
      }
      &-title {
        margin: 0 0 15px 0;
      }
      &-text {
        margin: 0 0 27px 0;
      }
    }
  }
  &-mobiledevices {
    /*style*/
    & {
      min-height: 695px;
      background-color: #fbfaf8;
      background-image: url(../img/iPhone_in_hand.png);
      background-repeat: no-repeat;
    }
    &-title {
      font-family: Raleway, sans-serif;
      font-size: 30px;
      line-height: 1.2;
      font-weight: 600;
      color: @color-gray;
    }
    &-text {
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      line-height: 28px;
      font-weight: 300;
      color: @color-gray-light;
    }
    &-features {
      font-family: Montserrat;
      font-size: 16px;
      line-height: 32px;
      font-weight: 300;
      color: @color-gray-light;
      &-item {
        list-style: none;
        &:before {
          content: "";
          display: block;
          width: 21px;
          height: 21px;
          background-image: url(../img/feature-arrow.png);
        }
      }
    }
    /*position*/
    & {
      .mixin-padding-default();
      background-position: 28.4% bottom;
    }
    &-title {
      margin: 110px 0 0 502px;
    }
    &-text {
      margin: 25px 0 0 502px;
      letter-spacing: -0.004em;
    }
    &-features {
      margin: 35px 0 0 510px;
      &-item {
        margin: 0 0px 6px 50px;
        &:before {
          margin: 0px 0px -26px -50px;
        }
      }
    }
  }
  &-counters {
    /*style*/
    min-height: 300px;
    background-color: @color-textbox-back;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    &-clients,
    &-coffee,
    &-posts,
    &-likes,
    &-launched {
      &-count {
        font-family: Montserrat, sans-serif;
        font-size: 48px;
        line-height: 36px;
        font-weight: 200;
        color: @color-light;
      }
      &-caption {
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        text-transform: uppercase;
        color: @color-ginger;
      }
      &:after {
        content: "";
        display: block;
        width: 30px;
        height: 2px;
        background-color: @color-light;
      }
    }
    /*position*/
    padding: 69px 0 60px  0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &-clients,
    &-coffee,
    &-posts,
    &-likes,
    &-launched {
      margin: 0 25px;
      width: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &-img {
        margin: 0 0 28px 0
      }
      &-count {
        margin: 0 0 13px 0;
      }
      &-caption {
        margin: 0 0 24px 0;
      }
    }
  }
  &-posts {
    /*style*/
    &-title {
      font-family: Raleway, sans-serif;
      font-size: 30px;
      line-height: 1.2;
      font-weight: 600;
      color: @color-gray;
    }
    &-text {
      font-family: Montserrat;
      font-size: 16px;
      line-height: 28px;
      font-weight: 300;
      color: @color-gray-light;
    }
    &-library {
      &-item {
        & {
          width: 370px;
          height: 395px;
          border: 1px solid @color-back;
          &-img {
            width: 370px;
            height: 220px;
            &-date {
              &-day {
                width: 50px;
                height: 35px;
                border-radius: 3px 3px 0 0;
                background-color: @color-post-day-dark;
                font-family: Montserrat, sans-serif;
                font-size: 24px;
                line-height: 20px;
                font-weight: 300;
                color: @color-light;
              }
              &-moon {
                width: 50px;
                height: 25px;
                background-color: #252525;
                border-radius: 0px 0px 3px 3px;
                font-family: Roboto, sans-serif;
                font-size: 12px;
                line-height: 20px;
                font-weight: 400;
                color: @color-light;
              }
            }
            &-pagination {
              .mixin-pagination-link-style();
            }
          }
          &-title {
            font-family: Raleway, sans-serif;
            font-size: 20px;
            line-height: 1.2;
            font-weight: 500;
            color: @color-gray;
          }
          &-text {
            font-family: Montserrat, sans-serif;
            font-size: 14px;
            line-height: 22px;
            font-weight: 300;
            color: @color-gray-light;
          }
          &-btn {
            font-family: Montserrat, sans-serif;
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
            color: @color-ginger;
            &-svg {
              fill: @color-ginger;
            }
          }
        }
        &:hover {
          cursor: pointer;
          background-color: @color-post-back;
        }
        &:active {
          cursor: wait;
          background-color: transparent;
        }
        &:nth-child(1) > :nth-child(1) {
          background-image: url(../img/post-back-1.jpg);
        }
        &:nth-child(2) > :nth-child(1) {
          background-image: url(../img/post-back-2.jpg);
        }
        &:nth-child(3) > :nth-child(1) {
          background-image: url(../img/post-back-3.jpg);
        }
        &:hover & {
          &-img {
            &-darkeninglayer {
              background-color: rgba(17,17,17,0.7);
            }
            &-date {
              &-day {
                background-color: @color-post-day-dark-hover;
              }
              &-moon {
                background-color: @color-post-moon-dark-hover;
              }
            }
          }
          &-title {
            color: @color-ginger;
          }
          &-text {
            color: @color-light;
          }
        }
        &:active & {
          &-img {
            &-darkeninglayer {
              background-color: transparent;
            }
            &-date {
              &-day {
                background-color: @color-post-day-dark;
              }
              &-moon {
                background-color: @color-post-moon-dark;
              }
            }
          }
          &-title {
            color: @color-gray;
          }
          &-text {
            color: @color-gray-light;
          }
        }
      }
    }
    &-switch {
      &-left,
      &-right {
        fill: @color-post-switch;
        cursor: pointer;
        &:hover {
          fill: @color-post-switch-hover;
        }
        &:active {
          fill: @color-post-switch;
          cursor: progress;
        }
      }
    }
    /*position*/
    .mixin-padding-default(-6px;0;-2);
    &-title {
      text-align: center;
      margin: 0 0 16px 0;
    }
    &-text {
      text-align: center;
      margin: 0 auto 33px;
      width: 800px;
      letter-spacing: -0.006em;
    }
    &-library {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      &-item {
        &-img {
          &-darkeninglayer {
            width: 100%;
            height: 100%;
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          &-date {
            &-day {
              display: flex;
              justify-content: center;
              align-items: center;
            }
            &-moon {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
        &-title {
          margin: 27px 30px 14px 30px;
        }
        &-text {
          margin: 0px 30px 20px 30px;
          letter-spacing: -0.009em;
        }
        &-btn {
          margin: 0px 30px 0 30px;
          &-svg {
            margin: 0px 0 0 4px;
          }
        }
      }
    }
    &-switch {
      display: flex;
      flex-direction: row;
      margin: 37px auto 0;
      width: 52px;
      &-left {
        margin: 0 4px 0 0;
      }
      &-right {
        margin: 0 0 0 4px;
      }
    }
  }
  &-partners {
    /*style*/
    & {
      height: 489px;
      background-image: url(../img/partners-back.jpg);
    }
    &-darkeninglayer {
      background-color: rgba(17,17,17,0.7);
      width: 100%;
      height: 100%;
      &-logo {
        width: 210px;
        height: 210px;
      }
      &-logo:nth-child(1) {
        background-image: url(../img/logo-01.png);
        background-repeat: no-repeat;
      }
      &-logo:nth-child(2) {
        background-image: url(../img/logo-02.png);
        background-repeat: no-repeat;
      }
      &-logo:nth-child(3) {
        background-image: url(../img/logo-03.png);
        background-repeat: no-repeat;
      }
      &-logo:nth-child(4) {
        background-image: url(../img/logo-04.png);
        background-repeat: no-repeat;
      }
    }
    /*position*/
    &-darkeninglayer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      &-logo {
        margin: 0 45px;
        background-position: center;
      }
    }
  }
}

@media only screen and (max-width: 1920px) {
  .main {
    &-screenshots {
      height: 650px;
    }
    &-textbox {
      &-wrapper {
        width: 1170px;
        padding: 10px;
        margin: 0 auto;
        min-height: 120px;
      }
    }
    &-projects {
      padding-left: 5%;
      padding-right: 5%;
      &-text {
        width: unset;
        max-width: 800px;
      }
      &-menu {
        flex-wrap: wrap;
      }
      &-container {
        justify-content: center;
        &-item {
          margin: 0 1% 30px;
        }
      }
    }
    &-presentation {
      &-video {
        width: 100%;
      }
      &-wrapper {
        left: 30%;
        right: 30%;
        top: 18%;
      }
    }
    &-mobiledevices {
      padding: 9% 2% 2% 15%;
      &-title {
        margin: 9% 0 0 38%;
      }
      &-text {
        margin: 25px 0 0 38%;
      }
      &-features {
        margin: 35px 0 0 43%;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .main {
    &-screenshots {
      height: 450px;
    }
    &-textbox {
      &-wrapper {
        width: auto;
        padding: 10px;
        margin: 0 auto;
        min-height: 100px;
      }
    }
    &-presentation {
      &-wrapper {
        left: 20%;
        right: 20%;
        top: 16%;
        &-btn {
          margin: 0px 0 18px 0;
        }
        &-title {
          margin: 0 0 10px 0;
        }
        &-text {
          margin: 0 0 20px 0;
        }
      }
    }
    &-mobiledevices {
      background-position: 10% bottom;
    }
  }
}

@media only screen and (max-width: 992px) {
  .main {
    &-services {
      & {
        padding: 0 50px;
        flex-wrap: wrap;
        justify-content: space-around;
      }
      & > :nth-child(n) {
        margin: 40px 15px;
      }
    }
    &-screenshots {
      height: 490px;
      padding: 10px 50px 0 10px;
      &-backimg {
        margin: 0;
      }
    }
    &-presentation {
      &-wrapper {
        left: 16%;
        right: 16%;
        top: 6%;
        &-btn {
          margin: 0px 0 10px 0;
        }
        &-title {
          margin: 0 0 7px 0;
        }
        &-text {
          margin: 0 0 13px 0;
          line-height: 21px;
        }
      }
    }
    &-mobiledevices {
      &-titel {
        font-size: 25px;
      }
      &-text {
        font-size: 14px;
        line-height: 24px;
      }
      &-features {
        font-size: 14px;
        line-height: 25px;
      }
    }
    &-counters {
      padding: 30px 5% 30px 5%;
      min-height: unset;
      &-clients,
      &-coffee,
      &-posts,
      &-likes,
      &-launched {
        margin: 0;
        width: 20%;
        &-img {
          margin: 0 0 19px 0;
          & svg {
            width: 33px;
            height: 33px;
          }
        }
        &-count {
          font-size: 34px;
          line-height: 22px;
          margin: 0 0 8px 0;
        }
        &-caption {
          margin: 0 0 14px 0;
          font-size: 12px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .main {
    &-services {
      padding: 5%;
      & > :nth-child(n) {
        margin: 40px auto;
        width: 235px;
      }
    }
    &-screenshots {
      height: 410px;
      padding: 10px 10px 0 10px;
      &-backimg {
        margin: 0;
      }
    }
    &-textbox {
      display: none;
    }
    &-projects {
      &-menu {
        flex-direction: column;
        align-items: stretch;
      }
    }
    &-presentation {
      &-wrapper {
        &-text {
          display: none;
        }
      }
    }
    &-mobiledevices {
      background-size: 50%;
      padding: 9% 2% 50% 15%;
      &-title {
        margin: 0;
      }
      &-text {
        margin: 15px 0 0 0;
      }
      &-features {
        margin: 35px 0 0 26%;
      }
    }
    &-counters {
      padding-left: 5%;
      padding-right: 5%;
      &-clients,
      &-coffee,
      &-posts,
      &-likes,
      &-launched {
        margin: 0;
        width: 20%;
        &-img {
          margin: 0 0 15px 0;
          & svg {
            width: 23px;
            height: 23px;
          }
        }
        &-count {
          font-size: 28px;
          line-height: 18px;
          margin: 0 0 6px 0;
        }
        &-caption {
          margin: 0 0 10px 0;
          font-size: 9px;
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .main {
    &-services {
      padding: 0;
      & > :nth-child(n) {
        margin: 40px auto;
        width: 235px;
      }
    }
    &-screenshots {
      padding: 5px 5px 0 5px;
      height: 400px;
      &-backimg {
        margin: 0;
      }
    }
    &-presentation {
      display: none;
    }
    &-mobiledevices {
      padding: 5%;
      min-height: 630px;
      &-title {
        text-align: center;
        font-size: 25px;
      }
      &-text {
        font-size: 14px;
      }
      &-features {
        margin: 26px 0 0 35%;
        font-size: 13px;
        line-height: 21px;
        &-item {
          margin-left: 29px;
          &:before {
            margin-left: -29px;
            padding: -20px;
          }
        }
      }

    }
    &-counters {
      display: none;
    }
  }
}

@media only screen and (max-width: 480px) {
  .main {
    &-services {
      & > :nth-child(n) {
        margin: 10px auto;
        width: 170px;
      }
      &-design,
      &-development,
      &-customization,
      &-marketing {
        &-icon {
          margin: 0px auto 14px;
        }
        &-title {
          font-size: 14px;
          margin: 0 0 8px;
        }
        &-txt {
          font-size: 10px;
          line-height: 18px;
          margin: 0 0 10px;
        }
      }
    }
    &-projects {
      &-container {
        &-item {
          width: 90%;
          margin: 0 auto 5px;
          &-img {
            height: unset;
            width: 100%;
          }
        }
      }
    }
  }
}
