.main {
  &-services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*style*/
    &-design,
    &-development,
    &-customization,
    &-marketing {
      &-icon {
        fill: @color-gray;
      }
      &:hover &-icon {
        fill: @color-ginger;
      }
      &:active &-icon {
        fill: @color-gray;
      }
      &-title {
        color: @color-gray;
        font-size: 22px;
        font-weight: 600;
        font-family: Raleway, sans-serif;
      }
      &:hover &-title {
        color: @color-ginger;
      }
      &:active &-title {
        color: @color-gray;
      }
      &-txt {
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: @color-gray-light;
      }
      &:after {
        content: "";
        display: block;
        width: 70px;
        height: 3px;
        background-color: #f1eee9;
      }
      &:hover:after {
        background-color: @color-ginger;
      }
      &:active:after {
        background-color: #f1eee9;
      }
      &:hover {
        cursor: pointer;
      }
      &:active {
        cursor: wait;
      }
    }
    /*position*/
    &-design,
    &-development,
    &-customization,
    &-marketing {
      width: 270px;
      margin: 80px 15px;
      &-icon {
        display: block;
        margin: 0px auto 24px;
      }
      &-title,
      &-txt {
        text-align: center;
      }
      &-title {
        letter-spacing: 0;
        margin: 0 0 14px;
      }
      &-txt {
        letter-spacing: 0;
        margin: 0 0 25px;
      }
      &:after {
        margin: 0 auto;
      }
    }
  }
  &-screenshots {
    /*style*/
    background-color: @color-back;
    &-title {
      font-family: Raleway, sans-serif;
      font-size: 30px;
      line-height: 1.2;
      font-weight: 600;
      color: @color-gray;
    }
    &-text {
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      line-height: 28px;
      font-weight: 300;
      color: @color-gray-light;
    }
    &-backimg {
      background-image: url(../img/browser-center.jpg),
                        url(../img/browser-left.jpg),
                        url(../img/browser-right.jpg);
    }
    /*position*/
    text-align: center;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &-title {
      margin: 0 0 16px;
    }
    &-text {
      max-width: 800px;
      margin: 0 auto 25px;
    }
    &-backimg {
      height: 70%;
      background-repeat: no-repeat;
      background-size: 62%, 62%, 62%;
      background-position: bottom center, bottom left, bottom right;
      margin: 0 18%;
    }
  }
  &-textbox {
    /*style*/
    background-color: @color-textbox-back;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    &-leftcontainer {
      &-title {
        font-family: Raleway, sans-serif;
        font-size: 28px;
        line-height: 1.2;
        font-weight: 400;
        &-firstword {
          color: @color-ginger;
        }
        color: @color-light;
      }
      &-text {
        font-family: Montserrat, sans-serif;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 300;
        color: @color-ginder-dark;
      }
    }
    &-rightcontainer {
      &-btn {
        .mixin-btn-style();
      }
    }
    /*position*/
    min-height: 150px;
    display: flex;
    flex-direction: row;
    padding: 10px 375px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    &-leftcontainer {
      max-width: 80%;
      &-title {
        margin: 0px 0px 7px 2px;
        letter-spacing: 0.01em;
      }
    }
    &-rightcontainer {
      margin: 15px 0 0 0;
    }
  }
  &-projects {
    /*style*/
    &-title {
      font-family: Raleway, sans-serif;
      font-size: 30px;
      line-height: 1.2;
      font-weight: 600;
      color: @color-gray;
    }
    &-text {
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      line-height: 28px;
      font-weight: 300;
      color: @color-gray-light;
    }
    &-menu {
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      line-height: 21px;
      font-weight: 300;
      color: @color-gray-light;
      &-btn {
        height: 32px;
        border: 1px solid @color-border;
        border-radius: 3px;
        &.checked {
          color: @color-light;
          background-color: @color-btn-back-ginder;
          &:active {
            color: @color-light;
          }
        }
        &:hover {
          cursor: pointer;
          color: @color-dark;
        }
        &:active {
          cursor: progress;
          color: @color-gray-light;
        }
      }
    }
    &-container {
      &-item {
        width: 370px;
        height: 337px;
        &-img {
          height: 237px;
        }
        &-wrapper {
          height: 100px;
          background-color: @color-back;
          &:before {
            content: "";
            display: block;
            width: 30px;
            height: 10px;
            background-color: @color-back;
          }
          &-title {
            font-family: Raleway, sans-serif;
            font-size: 20px;
            line-height: 1.2;
            font-weight: 500;
            color: @color-ginger;
          }
          &-text {
            font-family: Montserrat, sans-serif;
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
            color: @color-gray-prject;
          }
        }
        &-link,
        &-search {
          fill: @color-light;
          &:hover {
            fill: @color-ginger;
            cursor: cursor;
          }
          &:active {
            fill: @color-light;
            cursor: progress;
          }
        }
        &:hover & {
          &-img {
            filter: brightness(30%);
          }
          &-wrapper {
            background-color: @color-ginger-project;
            &:before {
              background-color: @color-ginger-project;
            }
            &-title {
              color: @color-light;
            }
            &-text {
              color: @color-ginger;
            }
          }
        }
      }
    }
    &-btn {
      .mixin-btn-style();
    }
  }
  &-presentation {

  }
  &-mobiledevices {

  }
  &-counters {

  }
  &-posts {

  }
  &-partners {

  }
}
