/* header */
@color-light: #fff;
@color-ginger: #c7b299;
@color-arrow-hover: #d3c1ad;
@color-btn-back-ginger: #998675;
@color-btn-back-ginger-active: #111;
@color-btn-color: @color-light;
@color-btn-color-active: #aaa;
@color-btn-shadow: #736357;
@color-btn-shadow-active: #555;

/* main -> services */
// @color-ginger: #c7b299; //it is in 'header'
@color-gray: #555;
@color-gray-light: #8c8c8c;

/* main -> services */
// @color-gray: #555;  //it is in 'main -> services'
// @color-gray-light: #8c8c8c; //it is in 'main -> services'
@color-back: #fbfaf8;

/* main -> textbox */
//it is in 'main -> header'
// @color-light: #fff;
// @color-ginger: #c7b299;
// @color-btn-back-ginger: #998675;
// @color-btn-back-ginger-active: #111;
// @color-btn-color: @color-light;
// @color-btn-color-active: #aaa;
// @color-btn-shadow: #736357;
// @color-btn-shadow-active: #555;
@color-ginger-dark: #615855;
@color-textbox-back: #f4f5f8;

/* main -> projects */
// @color-gray: #555; //it is in 'main -> services'
// @color-gray-light: #8c8c8c; //it is in 'main -> services'
// @color-light: #fff; //it is in 'header'
// @color-btn-back-ginger: #998675; //it is in 'header'
// @color-back: #fbfaf8; //it is in 'main -> services'
// @color-ginger: #c7b299; //it is in 'header'
@color-border: #ebebeb;
@color-gray-prject: #d1d1d1;
@color-ginger-project: #362f2d;
@color-dark: #000;

/* main -> presentation */
// @color-light: #fff; //it is in 'header'
// @color-ginger: #c7b299; //it is in 'header'
// @color-dark: #000; //it is in 'main -> projects'

/* main -> mobiledevices */
// @color-gray: #555; //it is in 'main -> services'
// @color-gray-light: //it is in 'main -> services'


/* main -> counters */
// @color-textbox-back: #f4f5f8; //it is in 'main -> services'
// @color-light: #fff; //it is in 'main -> header'
// @color-ginger: #c7b299; //it is in 'main -> header'

/* main -> posts */
// @color-gray: #555; //it is in 'main -> services'
// @color-gray-light: #8c8c8c; //it is in 'main -> services'
// @color-ginger: #c7b299; //it is in 'header'
// @color-back: #fbfaf8; //it is in 'main -> services'
// @color-ginger-project: #362f2d; //it is in 'main -> projects'
// @color-gray-prject: #d1d1d1; //it is in 'main -> projects'
// @color-light: #fff; //it is in 'header'
@color-post-day-dark: #363636;
@color-post-day-dark-hover: @color-ginger;
@color-post-moon-dark: #252525;
@color-post-moon-dark-hover: #a48d72;
@color-post-border: @color-back;
@color-post-back: @color-ginger-project;
@color-post-switch: @color-gray-prject;
@color-post-switch-hover: @color-ginger;

/* footer */
// @color-light: #fff; //it is in 'header'
// @color-gray: #555; //it is in 'main -> services'
// @color-ginger: #c7b299; //it is in 'header'
@color-copyright-info-back: #191919;
@color-copyright-right-back: #111;
@color-copyright-dark: @color-post-day-dark; //it is in 'main -> posts'
@color-copyright-blue: #00bff3;
@color-copyright-white: #959595;
@color-copyright-underline: #252525;
