/* header */
@color-light: #fff;
@color-ginger: #c7b299;
// @color-arrow-normal: %23fff;
// @color-arrow-hover: %23d3c1ad;
@color-btn-back-ginder: #998675;
@color-btn-back-ginder-active: #111;
@color-btn-color: @color-light;
@color-btn-color-active: #aaa;
@color-btn-shadow: #736357;
@color-btn-shadow-active: #555;

/* main -> services */
// @color-ginger: #c7b299; //it is in 'header'
@color-gray: #555;
@color-gray-light: #8c8c8c;

/* main -> services */
// @color-gray: #555;  //it is in 'main -> services'
// @color-gray-light: #8c8c8c; //it is in 'main -> services'
@color-back: #fbfaf8;

/* main -> textbox */
//it is in 'main -> header'
// @color-light: #fff;
//@color-ginger: #c7b299;
// @color-btn-back-ginder: #998675;
// @color-btn-back-ginder-active: #111;
// @color-btn-color: @color-light;
// @color-btn-color-active: #aaa;
// @color-btn-shadow: #736357;
// @color-btn-shadow-active: #555;
@color-ginder-dark: #615855;
@color-textbox-back: #f4f5f8;
