//* * * * * * * * * * * * * * * * * * * * * *
//* 'text' - apply to text color,           *
//* 'back' - apply to background color.     *
//*                                         *
//* 'normal' - apply to default theme,      *
//* 'light' - apply to light theme,         *
//* 'dark' - apply to dark theme.           *
//* * * * * * * * * * * * * * * * * * * * * *
@text-normal-color: #333333;
@back-light-color: #445162;
@text-light-color: #ffffff;
@text-dark-color: @back-light-color;
