@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-ExtraLightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-Black.ttf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: roleway;
  src: url(../fonts/roleway/Raleway-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}
